<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
	<table class="board_detail">
		<caption>게시글 상세</caption>
		<tr>
			<td>글번호</td>
			<td th:text="${board.boardIdx}"></td>
			<td>작성자</td>
			<td th:text="${board.creatorId}"></td>
		</tr>
		<tr>
			<td>조회수</td>
			<td th:text="${board.hitCnt}"></td>
			<td>작성일</td>
			<td th:text="${board.createdDate}"></td>
		</tr>
		<tr>
			<td>제목</td>
			<td colspan="3" th:text="${board.title}"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td colspan="3" th:text="${board.contents}"></td>
		</tr>
	</table>
</div>
</body>
</html>