<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<span th:if="${result} > 0">
	<script type="text/javascript">
		alert("삭제 성공");
		location.href="/dept/deptList.do";
	</script>
</span>
<span th:if="${result} == 0">
	<script type="text/javascript">
		alert("삭제 실패");
		history.back();
	</script>
</span>
</body>
</html>