<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<style type="text/css">
.err {
	color: red;
	font-weight: bold;
}
</style>
<script th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<span th:if="${result} > 0">
		<script type="text/javascript">
			alert("탈퇴했네 !  꺼져");
			location.href = "loginForm.do";
		</script>
	</span>
	<span th:if="${result} == 0">
		<script type="text/javascript">
			alert("탈퇴 안되네 !  메롱");
			history.go(-1);
		</script>
	</span>
</body>
</html>