<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<span th:if="${result} > 0"> <script type="text/javascript">
		alert("삭제 되었습니다");
		location.href="/emp/empList.do?deptno="+[[${emp.deptno}]];
	</script>
	</span>
	<span th:if="${result} == 0"> <script type="text/javascript">
		alert("삭제 실패");
		history.go(-1);
	</script>
	</span>
</body>
</html>